html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  height: 100vh;
  background: rgba(0, 0, 0, 0.904);
  justify-items: center;
  align-content: center;
  overflow: hidden;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.user-info {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: 2rem;
}

.user-name {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
  color: #ffffff;
}

.user-email {
  font-size: 40px;
  color: #ffffffb0;
  margin-top: 4px;
}

.user-card::before {
  filter: blur(10px);
}

.user-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.user-card {
  width: 1000px;
  height: 550px;
  border-radius: 25px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.refresh-btn {
  width: 65px;
  height: 65px;
  position: absolute !important;
  bottom: 1rem;
  right: 1rem;
  background-color: rgba(204, 203, 203, 0.9) !important;
  color: black !important;
  z-index: 4;
  transition: all 0.3s ease !important;
}

.refresh-btn:hover {
  background-color: rgb(142, 177, 253) !important;
  color: white !important;
  transform: scale(1.1);
}
